.account-login-wrapper {
    display: grid;

    .account-login__page-title{
        justify-self: center;
        margin-left: 0px;
    }
}


.login-form-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .login-form {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 40%;
    }
}