.no-match__page-title {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #e71414;
    font-size: 2.5rem;

}

.no-match {
    border-top: 1px lightgrey solid;
    display: grid;
    justify-content: center;
    justify-self: center;
    background-color: darkgray;
    height: 86vh;

    a {
        margin-top: 10px;
        justify-self: center;
        font-size: 24px;
        text-decoration: none;
        color: white;

        &:hover {
            color:blue ;
        }
    }
}